.container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.img {
    height: 300px;
    width: 200px;
}

img {
    height: 250px;
    width: 175px;
}

.info {
    height: 100%;
    width: 500px;
}
