.container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

h1 {
    font-weight: bold;
}

.image {
    margin-top: auto;
    margin-bottom: auto;
}

img {
    height: 250px;
    width: 175px;
}

.info {
    height: 100%;
    width: 500px;
}

ul {
    margin: 0; 
    padding: 0;
}

h1 {
    margin: 0;
}